In [1]:
# Finding and extracting the dataset
from os import walk
import zipfile

In [2]:
dataset_folder = './dataset'
    
filenames = next(walk(dataset_folder), (_, _, []))[2]
zip_filename = [filename for filename in filenames if filename.find('.zip') > -1][0]
file_path = dataset_folder + '/' + zip_filename

file_path

'./dataset/ds339_tx_2021_0913_091153.zip'

In [3]:
# with zipfile.ZipFile(file_path, 'r') as zip_ref:
#     zip_ref.extractall(dataset_folder)

In [4]:
# Reading the dataset
import pandas as pd

seed = 50

In [5]:
filenames = next(walk(dataset_folder), (_, _, []))[2]
dataset_filename = [filename for filename in filenames if filename.find('.txt') > -1][0]
dataset_path = dataset_folder + '/' + dataset_filename

dataset_path

'./dataset/ds339_tx_All_Data_1059_2015_0729_215742.txt'

In [6]:
df = pd.read_csv(dataset_path, delimiter = "\t")

df.head()

,Row,Sample Name,Transaction Id,Anon Student Id,Session Id,Time,Time Zone,Duration (sec),Student Response Type,Student Response Subtype,...,KC (MCAS5-State_WPI-Simple),KC Category (MCAS5-State_WPI-Simple),KC (MCAS5-State_WPI-Simple).1,KC Category (MCAS5-State_WPI-Simple).1,KC (Single-KC),KC Category (Single-KC),KC (Unique-step),KC Category (Unique-step),School,Class
0,1,All Data,13cb29890fa2be0ca31bcd07f35000d6,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:10,US/Eastern,22,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
1,2,All Data,3fedf6c06ab6b9b3c36e245335445bcf,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:13,US/Eastern,3,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
2,3,All Data,0f5bb1a5c133ac1aa0a3d32e4d44dde9,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:20,US/Eastern,7,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
3,4,All Data,19a9aabf614d6f27dc9970dc842da081,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:22,US/Eastern,2,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
4,5,All Data,eae2bd81fd19ec6093c645d90e92222e,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:32,US/Eastern,10,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy

In [7]:
df.describe()

,Row,Session Id,Student Response Subtype,Tutor Response Subtype,Problem Name,Problem View,Attempt At Step,Is Last Attempt,Help Level,Total Num Hints,...,KC Category (WPI-Apr-2005).4,KC Category (WPI-Apr-2005).5,KC Category (MCAS39-State_WPI-Simple),KC Category (MCAS39-State_WPI-Simple).1,KC Category (MCAS39-State_WPI-Simple).2,KC Category (MCAS39-State_WPI-Simple).3,KC Category (MCAS5-State_WPI-Simple),KC Category (MCAS5-State_WPI-Simple).1,KC Category (Single-KC),KC Category (Unique-step)
count,1.451003e+06,1.451003e+06,0.0,0.0,1.451003e+06,1.450822e+06,1.448076e+06,1.448076e+06,394514.000000,303756.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.255020e+05,4.409396e+06,NaN,NaN,5.609072e+03,1.281691e+00,2.341389e+00,4.472597e-01,2.010413,3.529932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.188686e+05,2.780981e+06,NaN,NaN,5.119680e+03,6.858265e-01,2.543439e+00,4.972108e-01,1.419201,1.298585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,6.720000e+02,NaN,NaN,7.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.627515e+05,1.363892e+06,NaN,NaN,1.149000e+03,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.255020e+05,5.450824e+06,NaN,NaN,3.133000e+03,1.000000e+00,1.000000e+00,0.000000e+00,2.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.088252e+06,6.838668e+06,NaN,NaN,9.562000e+03,1.000000e+00,3.000000e+00,1.000000e+00,3.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.451003e+06,8.167924e+06,NaN,NaN,1.865100e+04,2.400000e+01,1.200000e+02,1.000000e+00,57.000000,47.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop unnecessary columns
unique_values = df.nunique()
unique_values

Row                                        1451003
Sample Name                                      1
Transaction Id                             1451003
Anon Student Id                               5046
Session Id                                  392886
Time                                       1027591
Time Zone                                        1
Duration (sec)                                 641
Student Response Type                            2
Student Response Subtype                         0
Tutor Response Type                              2
Tutor Response Subtype                           0
Level (Curriculum)                               1
Problem Name                                  1798
Problem View                                    17
Problem Start Time                          347840
Step Name                                     5834
Attempt At Step                                120
Is Last Attempt                                  2
Outcome                                          3
Selection                                     5828
Action                                          12
Input                                        28427
Feedback Text                                11816
Feedback Classification                          3
Help Level                                      57
Total Num Hints                                 48
KC (WPI-Apr-2005)                               87
KC Category (WPI-Apr-2005)                       0
KC (WPI-Apr-2005).1                             47
KC Category (WPI-Apr-2005).1                     0
KC (WPI-Apr-2005).2                             15
KC Category (WPI-Apr-2005).2                     0
KC (WPI-Apr-2005).3                              2
KC Category (WPI-Apr-2005).3                     0
KC (WPI-Apr-2005).4                              1
KC Category (WPI-Apr-2005).4                     0
KC (WPI-Apr-2005).5                              1
KC Category (WPI-Apr-2005).5                     0
KC (MCAS39-State_WPI-Simple)                    30
KC Category (MCAS39-State_WPI-Simple)            0
KC (MCAS39-State_WPI-Simple).1                  20
KC Category (MCAS39-State_WPI-Simple).1          0
KC (MCAS39-State_WPI-Simple).2                   9
KC Category (MCAS39-State_WPI-Simple).2          0
KC (MCAS39-State_WPI-Simple).3                   2
KC Category (MCAS39-State_WPI-Simple).3          0
KC (MCAS5-State_WPI-Simple)                      5
KC Category (MCAS5-State_WPI-Simple)             0
KC (MCAS5-State_WPI-Simple).1                    1
KC Category (MCAS5-State_WPI-Simple).1           0
KC (Single-KC)                                   1
KC Category (Single-KC)                          0
KC (Unique-step)                               318
KC Category (Unique-step)                        0
School                                          24
Class                                          262
dtype: int64

In [9]:
### Dropping the columns with 0 or 1 exclusive values
df_cleaned = df.loc[:, (unique_values > 1)]

In [10]:
unique_values = df_cleaned.nunique()
unique_values

Row                               1451003
Transaction Id                    1451003
Anon Student Id                      5046
Session Id                         392886
Time                              1027591
Duration (sec)                        641
Student Response Type                   2
Tutor Response Type                     2
Problem Name                         1798
Problem View                           17
Problem Start Time                 347840
Step Name                            5834
Attempt At Step                       120
Is Last Attempt                         2
Outcome                                 3
Selection                            5828
Action                                 12
Input                               28427
Feedback Text                       11816
Feedback Classification                 3
Help Level                             57
Total Num Hints                        48
KC (WPI-Apr-2005)                      87
KC (WPI-Apr-2005).1                    47
KC (WPI-Apr-2005).2                    15
KC (WPI-Apr-2005).3                     2
KC (MCAS39-State_WPI-Simple)           30
KC (MCAS39-State_WPI-Simple).1         20
KC (MCAS39-State_WPI-Simple).2          9
KC (MCAS39-State_WPI-Simple).3          2
KC (MCAS5-State_WPI-Simple)             5
KC (Unique-step)                      318
School                                 24
Class                                 262
dtype: int64

In [11]:
### Dropping the columns with an unique value per row
df_cleaned = df_cleaned.loc[:, (unique_values < df_cleaned.shape[0])]

In [12]:
unique_values = df_cleaned.nunique()
unique_values

Anon Student Id                      5046
Session Id                         392886
Time                              1027591
Duration (sec)                        641
Student Response Type                   2
Tutor Response Type                     2
Problem Name                         1798
Problem View                           17
Problem Start Time                 347840
Step Name                            5834
Attempt At Step                       120
Is Last Attempt                         2
Outcome                                 3
Selection                            5828
Action                                 12
Input                               28427
Feedback Text                       11816
Feedback Classification                 3
Help Level                             57
Total Num Hints                        48
KC (WPI-Apr-2005)                      87
KC (WPI-Apr-2005).1                    47
KC (WPI-Apr-2005).2                    15
KC (WPI-Apr-2005).3                     2
KC (MCAS39-State_WPI-Simple)           30
KC (MCAS39-State_WPI-Simple).1         20
KC (MCAS39-State_WPI-Simple).2          9
KC (MCAS39-State_WPI-Simple).3          2
KC (MCAS5-State_WPI-Simple)             5
KC (Unique-step)                      318
School                                 24
Class                                 262
dtype: int64

In [13]:
### Dropping the KC columns
df_cleaned = df_cleaned.loc[:, [col.find('KC (') < 0 for col in df_cleaned.columns]]

In [50]:
### Dropping columns with high variability values
columns_to_drop = [k for k,v in unique_values.items() if (v / df_cleaned.shape[0]) > 0.2]
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [56]:
df_cleaned.head()

,Anon Student Id,Duration (sec),Student Response Type,Tutor Response Type,Problem Name,Problem View,Step Name,Attempt At Step,Is Last Attempt,Outcome,Selection,Action,Input,Feedback Text,Feedback Classification,Help Level,Total Num Hints,School,Class
0,Stu_000271be877ea1e7bf4f038c96cee5f9,22,ATTEMPT,RESULT,10168,1.0,Step0:10168:There are 100 squares in the 10 by...,1.0,0.0,INCORRECT,Step0:10168:There are 100 squares in the 10 by...,1,80/100,Don't forget to reduce your fraction.,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
1,Stu_000271be877ea1e7bf4f038c96cee5f9,3,HINT_REQUEST,HINT_MSG,10168,1.0,Step0:10168:There are 100 squares in the 10 by...,2.0,0.0,HINT,Step0:10168:There are 100 squares in the 10 by...,1,NaN,There are 100 squares and 80 are colored purple.,HINT,1.0,NaN,ForestGrove,Period40607Dumphy
2,Stu_000271be877ea1e7bf4f038c96cee5f9,7,HINT_REQUEST,HINT_MSG,10168,1.0,Step0:10168:There are 100 squares in the 10 by...,3.0,0.0,HINT,Step0:10168:There are 100 squares in the 10 by...,1,NaN,80/100 squares are colored purple. Reduce this...,HINT,2.0,NaN,ForestGrove,Period40607Dumphy
3,Stu_000271be877ea1e7bf4f038c96cee5f9,2,HINT_REQUEST,HINT_MSG,10168,1.0,Step0:10168:There are 100 squares in the 10 by...,4.0,0.0,HINT,Step0:10168:There are 100 squares in the 10 by...,1,NaN,80/100 = 8/10 = 4/5,HINT,3.0,NaN,ForestGrove,Period40607Dumphy
4,Stu_000271be877ea1e7bf4f038c96cee5f9,10,ATTEMPT,RESULT,10168,1.0,Step0:10168:There are 100 squares in the 10 by...,5.0,1.0,CORRECT,Step0:10168:There are 100 squares in the 10 by...,1,4/5,NaN,NaN,NaN,NaN,ForestGrove,Period40607Dumphy

In [53]:
df_cleaned.describe()

,Problem Name,Problem View,Attempt At Step,Is Last Attempt,Help Level,Total Num Hints
count,1.451003e+06,1.450822e+06,1.448076e+06,1.448076e+06,394514.000000,303756.000000
mean,5.609072e+03,1.281691e+00,2.341389e+00,4.472597e-01,2.010413,3.529932
std,5.119680e+03,6.858265e-01,2.543439e+00,4.972108e-01,1.419201,1.298585
min,7.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,0.000000
25%,1.149000e+03,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,3.000000
50%,3.133000e+03,1.000000e+00,1.000000e+00,0.000000e+00,2.000000,3.000000
75%,9.562000e+03,1.000000e+00,3.000000e+00,1.000000e+00,3.000000,4.000000
max,1.865100e+04,2.400000e+01,1.200000e+02,1.000000e+00,57.000000,47.000000

In [57]:
df_cleaned.dtypes

Anon Student Id             object
Duration (sec)              object
Student Response Type       object
Tutor Response Type         object
Problem Name                 int64
Problem View               float64
Step Name                   object
Attempt At Step            float64
Is Last Attempt            float64
Outcome                     object
Selection                   object
Action                      object
Input                       object
Feedback Text               object
Feedback Classification     object
Help Level                 float64
Total Num Hints            float64
School                      object
Class                       object
dtype: object

In [59]:
# Adjusting the data types
df_cleaned['Duration (sec)'].unique()

array(['22', '3', '7', '2', '10', '55', '1', '8', '5', '6', '4', '9',
       '14', '12', '13', '104', '26', '11', '92', '17', '21', '208', '49',
       '43', '41', '123', '84', '133', '201', '24', '77', '121', '16',
       '93', '57', '27', '15', '66', '30', '138', '31', '67', '88', '34',
       '219', '18', '19', '174', '70', '153', '278', '48', '50', '54',
       '295', '100', '443', '203', '109', '35', '169', '213', '124',
       '301', '226', '97', '75', '98', '222', '69', '99', '37', '58',
       '113', '46', '47', '60', '28', '106', '36', '39', '32', '143',
       '33', '20', '45', '79', '144', '102', '114', '25', '125', '38',
       '308', '96', '298', '42', '61', '82', '80', '135', '64', '29',
       '89', '442', '401', '115', '68', '210', '156', '460', '95', '.',
       '94', '136', '122', '365', '87', '407', '164', '65', '44', '167',
       '23', '229', '149', '73', '119', '306', '117', '194', '52', '196',
       '40', '200', '81', '282', '131', '198', '120', '168', '59', '243',
       '292', '116', '154', '142', '340', '134', '56', '74', '63', '90',
       '235', '86', '137', '78', '71', '101', '232', '158', '51', '112',
       '159', '228', '302', '152', '240', '225', '145', '173', '172',
       '188', '140', '105', '139', '53', '184', '187', '270', '263',
       '275', '199', '416', '236', '62', '218', '111', '178', '310',
       '414', '214', '197', '227', '393', '107', '166', '190', '76', '72',
       '257', '150', '209', '186', '130', '91', '155', '157', '485',
       '351', '465', '420', '127', '419', '338', '170', '231', '289',
       '343', '501', '211', '255', '132', '151', '305', '330', '266',
       '331', '108', '387', '555', '381', '126', '303', '103', '283',
       '118', '321', '162', '1.5', '262', '181', '239', '146', '129',
       '148', '383', '241', '299', '182', '83', '259', '481', '128',
       '254', '189', '85', '223', '376', '326', '195', '402', '503',
       '290', '348', '176', '297', '315', '245', '274', '177', '409',
       '202', '372', '571', '238', '110', '179', '221', '437', '193',
       '163', '325', '212', '147', '205', '488', '458', '545', '217',
       '307', '161', '285', '180', '319', '248', '185', '489', '260',
       '253', '592', '334', '233', '529', '252', '294', '511', '192',
       '588', '216', '224', '242', '247', '183', '269', '0.5', '551',
       '300', '261', '141', '375', '160', '355', '280', '237', '251',
       '249', '296', '337', '175', '171', '400', '281', '279', '371',
       '386', '165', '220', '528', '316', '320', '431', '591', '246',
       '457', '276', '265', '312', '277', '356', '191', '256', '339',
       '311', '329', '478', '394', '410', '541', '215', '368', '534',
       '352', '486', '349', '204', '358', '487', '234', '318', '230',
       '313', '288', '361', '427', '438', '324', '573', '333', '244',
       '207', '258', '589', '286', '206', '595', '382', '273', '448',
       '582', '291', '287', '385', '568', '272', '304', '322', '293',
       '484', '264', '441', '341', '429', '267', '268', '284', '466',
       '346', '391', '345', '498', '360', '558', '369', '317', '436',
       '327', '384', '479', '424', '515', '314', '366', '392', '6.5',
       '11.5', '8.5', '17.5', '518', '389', '347', '399', '452', '426',
       '490', '367', '362', '516', '423', '412', '435', '398', '600',
       '379', '271', '470', '497', '483', '350', '596', '444', '507',
       '557', '491', '336', '464', '357', '403', '593', '473', '328',
       '373', '567', '417', '250', '353', '425', '584', '540', '433',
       '309', '411', '531', '549', '548', '482', '378', '421', '0', '508',
       '430', '342', '359', '477', '564', '575', '408', '380', '471',
       '520', '467', '559', '440', '505', '476', '504', '544', '454',
       '522', '406', '332', '415', '364', '363', '536', '526', '510',
       '5.5', '335', '377', '543', '428', '323', '463', '580', '525',
       '538', '494', '513', '434', '496', '472', '566', '502', '397',
       '599', '432', '597', '556', '492', '560', '344', '451', '553',
       '480', '48.5', '461', '563', '395', '354', '439', '418', '506',
       '468', '581', '495', '456', '539', '453', '533', '422', '404',
       '2.5', '12.5', '532', '445', '583', '446', '475', '370', '542',
       '405', '462', '413', '594', '598', '587', '561', '512', '546',
       '388', '586', '374', '565', '469', '455', '562', '514', '450',
       '519', '28.5', '32.5', '547', '449', '7.5', '500', '509', '390',
       '527', '554', '4.5', '499', '572', '447', '590', '537', '459',
       '521', '523', '493', '576', '15.5', '43.5', '9.5', '396', '40.5',
       '517', '552', '524', '85.5', '44.5', '535', '579', '530', '3.5',
       '550', '20.5', '10.5', '14.5', '570', '569', '38.5', '19.5', '474',
       '578', '577', '574', '104.5', '39.5', '585', '24.5', '0.333',
       '27.5', '109.5', '33.5', '13.5', '60.5', '29.5', '25.5', '18.5',
       '76.5'], dtype=object)

In [83]:
# I had to replace the dot (.) values to convert the values to float
n_replaced = (df_cleaned['Duration (sec)'] == '.').sum()

df_cleaned['Duration (sec)'] = df_cleaned['Duration (sec)'].replace('.', '0', regex=False).astype('float64')

print('{} values with dot (.) were replaced with 0'.format(n_replaced))

2351 values with dot (.) were replaced with 0

In [84]:
# Initially I was mislead because the 1 value
df_cleaned['Action'].unique()

array(['1', 'RadioQuestion', 'TextFieldQuestion',
       'InterfaceRadioQuestion1', 'AlgebraFieldQuestion',
       'InterfaceTextFieldQuestion1', 'InterfaceTextFieldQuestion',
       'AlgebraFieldQuestion1', 'InterfaceRadioQuestion',
       'PopupMenuQuestion', 'InterfacePopupMenuQuestion1', nan,
       'InterfacePopupMenuQuestion'], dtype=object)

In [85]:
df_cleaned['Problem View'].unique()

array([ 1.,  2.,  3.,  9., 11.,  4.,  5.,  6.,  8.,  7., nan, 12., 13.,
       10., 16., 18., 14., 24.])

In [86]:
df_cleaned['Attempt At Step'].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  nan,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.])

In [87]:
df_cleaned['Is Last Attempt'].unique()

array([ 0.,  1., nan])

In [88]:
df_cleaned['Help Level'].unique()

array([nan,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57.])

In [89]:
df_cleaned['Total Num Hints'].unique()

array([nan,  2.,  3.,  4.,  6.,  5.,  1.,  8.,  7., 10.,  9., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       37., 38., 39., 26.,  0., 27., 28., 29., 30., 31., 32., 33., 34.,
       35., 36., 40., 41., 42., 43., 44., 45., 46., 47.])

In [ ]:
### TODO: Conver the above values to integer

In [51]:
### Generating a sample of the dataset to become simpler to make tests
df_sample = df_cleaned.sample(n=100000, ignore_index=True, random_state=seed)

In [52]:
df_sample.nunique()

Anon Student Id            4677
Duration (sec)              565
Student Response Type         2
Tutor Response Type           2
Problem Name               1586
Problem View                 12
Step Name                  4192
Attempt At Step              61
Is Last Attempt               2
Outcome                       3
Selection                  4189
Action                       12
Input                      7325
Feedback Text              6417
Feedback Classification       3
Help Level                   25
Total Num Hints              22
School                       22
Class                       241
dtype: int64

In [22]:
df_sample['Step Name'].unique()

array(['Step0:13009:If x is not 0, then which of the following expressions is not equivalent to x6? InterfaceRadioQuestion1',
       'Step2:357:Good. Now, what is the measure of angle A? TextFieldQuestion',
       'Step4:1335:Good, 5 is the square root of 25 and 6 is the square root of 36.The square root of 31 is between what two whole numbers? 1',
       ...,
       'Step3:1211:Good, now what is the area of the square? TextFieldQuestion',
       'Step1:20221:Question content can not be retrieved from question table by iproblem_id. The id is iproblem_id from logging table.',
       'Step0:13488:Question content can not be retrieved from question table by iproblem_id. The id is iproblem_id from logging table. InterfaceRadioQuestion1'],
      dtype=object)

In [24]:
df_sample['Action'].unique()

array(['InterfaceRadioQuestion1', 'TextFieldQuestion', '1',
       'RadioQuestion', 'AlgebraFieldQuestion', 'InterfaceRadioQuestion',
       'InterfaceTextFieldQuestion1', 'PopupMenuQuestion',
       'AlgebraFieldQuestion1', nan, 'InterfaceTextFieldQuestion',
       'InterfacePopupMenuQuestion1', 'InterfacePopupMenuQuestion'],
      dtype=object)

In [25]:
df_sample['Selection'].unique()

array(['Step0:13009:If x is not 0, then which of the following expressions is not equivalent to x6?',
       'Step2:357:Good. Now, what is the measure of angle A?',
       'Step4:1335:Good, 5 is the square root of 25 and 6 is the square root of 36.The square root of 31 is between what two whole numbers?',
       ..., 'Step3:1211:Good, now what is the area of the square?',
       'Step1:20221:Question content can not be retrieved from question table by iproblem_id. The id is iproblem_id from logging table.',
       'Step0:13488:Question content can not be retrieved from question table by iproblem_id. The id is iproblem_id from logging table.'],
      dtype=object)

In [27]:
df_sample['Feedback Classification'].unique()

array([nan, 'HINT', 'SCAFFOLD', 'BOTTOM_HINT_REQUEST'], dtype=object)

In [28]:
df_sample['Help Level'].unique()

array([nan,  1.,  2.,  3.,  5.,  4.,  6.,  7., 13., 17., 14., 10., 15.,
       19.,  8., 11.,  9., 18., 39., 23., 20., 21., 12., 25., 28., 24.])

In [29]:
df_sample['Student Response Type'].unique()

array(['ATTEMPT', 'HINT_REQUEST'], dtype=object)

In [31]:
df_sample['Tutor Response Type'].unique()

array(['RESULT', 'HINT_MSG', nan], dtype=object)

In [35]:
df_sample['Input'].unique()

array(['B. (x3)2', '40', '4 and 5', ..., '4x-24', 'n*2-2=p', '19 324'],
      dtype=object)