# Importing the libraries

In [5]:
### Extracting the dataset from the .zip file
from os import walk
import zipfile

### Work with the dataset
import pandas as pd

# Setting default values

Setting some default values to be used all over the code.

In [3]:
SEED = 50

# Extracting and loading the dataset

In [6]:
### Find the .zip file and get the path to extract it
dataset_folder = './dataset'
    
filenames = next(walk(dataset_folder), (_, _, []))[2]
zip_filename = [filename for filename in filenames if filename.find('.zip') > -1][0]
file_path = dataset_folder + '/' + zip_filename

You only need to run the code cell below if you put solely the .zip file insede the dataset folder.

In [4]:
### Extracting the contents of the .zip file inside the dataset folder
# with zipfile.ZipFile(file_path, 'r') as zip_ref:
#     zip_ref.extractall(dataset_folder)

In [8]:
### Get the .txt dataset file path extracted at the previous step
filenames = next(walk(dataset_folder), (_, _, []))[2]
dataset_filename = [filename for filename in filenames if filename.find('.txt') > -1][0]
dataset_path = dataset_folder + '/' + dataset_filename

To load the dataset inside a Pandas DataFrame we had to put the delimiter to be a TAB (\t) because it is how the data is separated inside the .txt file.

In [10]:
df = pd.read_csv(dataset_path, delimiter = "\t")

# Analyzing the dataset

In [17]:
df.shape

(1451003, 57)

In [11]:
df.head()

,Row,Sample Name,Transaction Id,Anon Student Id,Session Id,Time,Time Zone,Duration (sec),Student Response Type,Student Response Subtype,...,KC (MCAS5-State_WPI-Simple),KC Category (MCAS5-State_WPI-Simple),KC (MCAS5-State_WPI-Simple).1,KC Category (MCAS5-State_WPI-Simple).1,KC (Single-KC),KC Category (Single-KC),KC (Unique-step),KC Category (Unique-step),School,Class
0,1,All Data,13cb29890fa2be0ca31bcd07f35000d6,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:10,US/Eastern,22,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
1,2,All Data,3fedf6c06ab6b9b3c36e245335445bcf,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:13,US/Eastern,3,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
2,3,All Data,0f5bb1a5c133ac1aa0a3d32e4d44dde9,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:20,US/Eastern,7,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
3,4,All Data,19a9aabf614d6f27dc9970dc842da081,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:22,US/Eastern,2,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
4,5,All Data,eae2bd81fd19ec6093c645d90e92222e,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:32,US/Eastern,10,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy

In [12]:
df.dtypes

Row                                          int64
Sample Name                                 object
Transaction Id                              object
Anon Student Id                             object
Session Id                                   int64
Time                                        object
Time Zone                                   object
Duration (sec)                              object
Student Response Type                       object
Student Response Subtype                   float64
Tutor Response Type                         object
Tutor Response Subtype                     float64
Level (Curriculum)                          object
Problem Name                                 int64
Problem View                               float64
Problem Start Time                          object
Step Name                                   object
Attempt At Step                            float64
Is Last Attempt                            float64
Outcome                                     object
Selection                                   object
Action                                      object
Input                                       object
Feedback Text                               object
Feedback Classification                     object
Help Level                                 float64
Total Num Hints                            float64
KC (WPI-Apr-2005)                           object
KC Category (WPI-Apr-2005)                 float64
KC (WPI-Apr-2005).1                         object
KC Category (WPI-Apr-2005).1               float64
KC (WPI-Apr-2005).2                         object
KC Category (WPI-Apr-2005).2               float64
KC (WPI-Apr-2005).3                         object
KC Category (WPI-Apr-2005).3               float64
KC (WPI-Apr-2005).4                         object
KC Category (WPI-Apr-2005).4               float64
KC (WPI-Apr-2005).5                         object
KC Category (WPI-Apr-2005).5               float64
KC (MCAS39-State_WPI-Simple)                object
KC Category (MCAS39-State_WPI-Simple)      float64
KC (MCAS39-State_WPI-Simple).1              object
KC Category (MCAS39-State_WPI-Simple).1    float64
KC (MCAS39-State_WPI-Simple).2              object
KC Category (MCAS39-State_WPI-Simple).2    float64
KC (MCAS39-State_WPI-Simple).3              object
KC Category (MCAS39-State_WPI-Simple).3    float64
KC (MCAS5-State_WPI-Simple)                 object
KC Category (MCAS5-State_WPI-Simple)       float64
KC (MCAS5-State_WPI-Simple).1               object
KC Category (MCAS5-State_WPI-Simple).1     float64
KC (Single-KC)                              object
KC Category (Single-KC)                    float64
KC (Unique-step)                            object
KC Category (Unique-step)                  float64
School                                      object
Class                                       object
dtype: object

In [15]:
df.describe()

,Row,Session Id,Student Response Subtype,Tutor Response Subtype,Problem Name,Problem View,Attempt At Step,Is Last Attempt,Help Level,Total Num Hints,...,KC Category (WPI-Apr-2005).4,KC Category (WPI-Apr-2005).5,KC Category (MCAS39-State_WPI-Simple),KC Category (MCAS39-State_WPI-Simple).1,KC Category (MCAS39-State_WPI-Simple).2,KC Category (MCAS39-State_WPI-Simple).3,KC Category (MCAS5-State_WPI-Simple),KC Category (MCAS5-State_WPI-Simple).1,KC Category (Single-KC),KC Category (Unique-step)
count,1.451003e+06,1.451003e+06,0.0,0.0,1.451003e+06,1.450822e+06,1.448076e+06,1.448076e+06,394514.000000,303756.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.255020e+05,4.409396e+06,NaN,NaN,5.609072e+03,1.281691e+00,2.341389e+00,4.472597e-01,2.010413,3.529932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.188686e+05,2.780981e+06,NaN,NaN,5.119680e+03,6.858265e-01,2.543439e+00,4.972108e-01,1.419201,1.298585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,6.720000e+02,NaN,NaN,7.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.627515e+05,1.363892e+06,NaN,NaN,1.149000e+03,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.255020e+05,5.450824e+06,NaN,NaN,3.133000e+03,1.000000e+00,1.000000e+00,0.000000e+00,2.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.088252e+06,6.838668e+06,NaN,NaN,9.562000e+03,1.000000e+00,3.000000e+00,1.000000e+00,3.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.451003e+06,8.167924e+06,NaN,NaN,1.865100e+04,2.400000e+01,1.200000e+02,1.000000e+00,57.000000,47.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.nunique()

Row                                        1451003
Sample Name                                      1
Transaction Id                             1451003
Anon Student Id                               5046
Session Id                                  392886
Time                                       1027591
Time Zone                                        1
Duration (sec)                                 641
Student Response Type                            2
Student Response Subtype                         0
Tutor Response Type                              2
Tutor Response Subtype                           0
Level (Curriculum)                               1
Problem Name                                  1798
Problem View                                    17
Problem Start Time                          347840
Step Name                                     5834
Attempt At Step                                120
Is Last Attempt                                  2
Outcome                                          3
Selection                                     5828
Action                                          12
Input                                        28427
Feedback Text                                11816
Feedback Classification                          3
Help Level                                      57
Total Num Hints                                 48
KC (WPI-Apr-2005)                               87
KC Category (WPI-Apr-2005)                       0
KC (WPI-Apr-2005).1                             47
KC Category (WPI-Apr-2005).1                     0
KC (WPI-Apr-2005).2                             15
KC Category (WPI-Apr-2005).2                     0
KC (WPI-Apr-2005).3                              2
KC Category (WPI-Apr-2005).3                     0
KC (WPI-Apr-2005).4                              1
KC Category (WPI-Apr-2005).4                     0
KC (WPI-Apr-2005).5                              1
KC Category (WPI-Apr-2005).5                     0
KC (MCAS39-State_WPI-Simple)                    30
KC Category (MCAS39-State_WPI-Simple)            0
KC (MCAS39-State_WPI-Simple).1                  20
KC Category (MCAS39-State_WPI-Simple).1          0
KC (MCAS39-State_WPI-Simple).2                   9
KC Category (MCAS39-State_WPI-Simple).2          0
KC (MCAS39-State_WPI-Simple).3                   2
KC Category (MCAS39-State_WPI-Simple).3          0
KC (MCAS5-State_WPI-Simple)                      5
KC Category (MCAS5-State_WPI-Simple)             0
KC (MCAS5-State_WPI-Simple).1                    1
KC Category (MCAS5-State_WPI-Simple).1           0
KC (Single-KC)                                   1
KC Category (Single-KC)                          0
KC (Unique-step)                               318
KC Category (Unique-step)                        0
School                                          24
Class                                          262
dtype: int64

Each row of the dataset represents an interaction an user has with an intelligent tutoring system.

The students are divided between schools and classes.

As we can see there are some columns that probably will not be very useful for most of the analysis.

Some columns contains no unique values, so they are candidate to be dropped. Other ones have an exclusive value per row, not contributing with the analysis.

# Data preprocessing

The criteria used to drop the columns were:
- Columns with one or less unique values in it.
- Columns with all rows with unique values.
- KC columns (KCs are Knowledge Components, created using the system provided by DataShop system, where we got the data).
- Columns with high quantity of unique values (probably they will overfit the machine learning model).

In [18]:
def drop_unnecessary_columns(df):
    unique_values = df.nunique()
    
    ### Dropping the columns with 0 or 1 exclusive values
    df_cleaned = df.loc[:, (unique_values > 1)]
    
    ### Dropping the columns with an unique value per row
    df_cleaned = df_cleaned.loc[:, (unique_values < df_cleaned.shape[0])]
    
    ### Dropping the KC columns
    df_cleaned = df_cleaned.loc[:, [col.find('KC (') < 0 for col in df_cleaned.columns]]
    
    ### Dropping columns with high variability values
    ### At this part only the "Time" and "Problem Start Time" were dropped
    ### I will not drop the Session Id column because I want to use it at the Machine Learning code
    columns_to_drop = [k for k,v in unique_values.items() if ((v / df_cleaned.shape[0]) > 0.2) and (k != 'Session Id')]
    df_cleaned = df_cleaned.drop(columns=columns_to_drop)
    
    return df_cleaned

In [21]:
def adjust_data_types(df):
    df_new = df.copy()
    
    ### Converting the "Duration (sec)" values from object to float
    ### It had to be converted to float because it has some decimal values at some rows
    ### We had to replace the dot (.) values to convert the values to float
    df_new['Duration (sec)'] = df_new['Duration (sec)'].replace('.', '0', regex=False).astype('float64')

    ### Converting some float columns to int to reduce the range of allowed values in these columns
    ### They don't need to use decimal points for theirs values
    ### I had to use the Int64 type (Pandas integer) instead of int64 type (Numpy integer) because the existent NaN values that could not be converted
    float_to_int_columns = ['Problem View', 'Attempt At Step', 'Is Last Attempt', 'Help Level', 'Total Num Hints']

    df_new[float_to_int_columns] = df_new[float_to_int_columns].astype('Int64')