In [34]:
# Finding and extracting the dataset
from os import walk
import zipfile

In [2]:
dataset_folder = './dataset'
    
filenames = next(walk(dataset_folder), (_, _, []))[2]
zip_filename = [filename for filename in filenames if filename.find('.zip') > -1][0]
file_path = dataset_folder + '/' + zip_filename

file_path

'./dataset/ds339_tx_2021_0913_091153.zip'

In [24]:
with zipfile.ZipFile(file_path, 'r') as zip_ref:
    zip_ref.extractall(dataset_folder)

In [38]:
# Reading the dataset
import pandas as pd

seed = 50

In [3]:
filenames = next(walk(dataset_folder), (_, _, []))[2]
dataset_filename = [filename for filename in filenames if filename.find('.txt') > -1][0]
dataset_path = dataset_folder + '/' + dataset_filename

dataset_path

'./dataset/ds339_tx_All_Data_1059_2015_0729_215742.txt'

In [4]:
df = pd.read_csv(dataset_path, delimiter = "\t")

df.head()

,Row,Sample Name,Transaction Id,Anon Student Id,Session Id,Time,Time Zone,Duration (sec),Student Response Type,Student Response Subtype,...,KC (MCAS5-State_WPI-Simple),KC Category (MCAS5-State_WPI-Simple),KC (MCAS5-State_WPI-Simple).1,KC Category (MCAS5-State_WPI-Simple).1,KC (Single-KC),KC Category (Single-KC),KC (Unique-step),KC Category (Unique-step),School,Class
0,1,All Data,13cb29890fa2be0ca31bcd07f35000d6,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:10,US/Eastern,22,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
1,2,All Data,3fedf6c06ab6b9b3c36e245335445bcf,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:13,US/Eastern,3,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
2,3,All Data,0f5bb1a5c133ac1aa0a3d32e4d44dde9,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:20,US/Eastern,7,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
3,4,All Data,19a9aabf614d6f27dc9970dc842da081,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:22,US/Eastern,2,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy
4,5,All Data,eae2bd81fd19ec6093c645d90e92222e,Stu_000271be877ea1e7bf4f038c96cee5f9,5660580,2006-10-13 11:53:32,US/Eastern,10,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,ForestGrove,Period40607Dumphy

In [5]:
df.describe()

,Row,Session Id,Student Response Subtype,Tutor Response Subtype,Problem Name,Problem View,Attempt At Step,Is Last Attempt,Help Level,Total Num Hints,...,KC Category (WPI-Apr-2005).4,KC Category (WPI-Apr-2005).5,KC Category (MCAS39-State_WPI-Simple),KC Category (MCAS39-State_WPI-Simple).1,KC Category (MCAS39-State_WPI-Simple).2,KC Category (MCAS39-State_WPI-Simple).3,KC Category (MCAS5-State_WPI-Simple),KC Category (MCAS5-State_WPI-Simple).1,KC Category (Single-KC),KC Category (Unique-step)
count,1.451003e+06,1.451003e+06,0.0,0.0,1.451003e+06,1.450822e+06,1.448076e+06,1.448076e+06,394514.000000,303756.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.255020e+05,4.409396e+06,NaN,NaN,5.609072e+03,1.281691e+00,2.341389e+00,4.472597e-01,2.010413,3.529932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.188686e+05,2.780981e+06,NaN,NaN,5.119680e+03,6.858265e-01,2.543439e+00,4.972108e-01,1.419201,1.298585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,6.720000e+02,NaN,NaN,7.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.627515e+05,1.363892e+06,NaN,NaN,1.149000e+03,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.255020e+05,5.450824e+06,NaN,NaN,3.133000e+03,1.000000e+00,1.000000e+00,0.000000e+00,2.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.088252e+06,6.838668e+06,NaN,NaN,9.562000e+03,1.000000e+00,3.000000e+00,1.000000e+00,3.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.451003e+06,8.167924e+06,NaN,NaN,1.865100e+04,2.400000e+01,1.200000e+02,1.000000e+00,57.000000,47.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Drop unnecessary columns
unique_values = df.nunique()
unique_values

Row                                        1451003
Sample Name                                      1
Transaction Id                             1451003
Anon Student Id                               5046
Session Id                                  392886
Time                                       1027591
Time Zone                                        1
Duration (sec)                                 641
Student Response Type                            2
Student Response Subtype                         0
Tutor Response Type                              2
Tutor Response Subtype                           0
Level (Curriculum)                               1
Problem Name                                  1798
Problem View                                    17
Problem Start Time                          347840
Step Name                                     5834
Attempt At Step                                120
Is Last Attempt                                  2
Outcome                                          3
Selection                                     5828
Action                                          12
Input                                        28427
Feedback Text                                11816
Feedback Classification                          3
Help Level                                      57
Total Num Hints                                 48
KC (WPI-Apr-2005)                               87
KC Category (WPI-Apr-2005)                       0
KC (WPI-Apr-2005).1                             47
KC Category (WPI-Apr-2005).1                     0
KC (WPI-Apr-2005).2                             15
KC Category (WPI-Apr-2005).2                     0
KC (WPI-Apr-2005).3                              2
KC Category (WPI-Apr-2005).3                     0
KC (WPI-Apr-2005).4                              1
KC Category (WPI-Apr-2005).4                     0
KC (WPI-Apr-2005).5                              1
KC Category (WPI-Apr-2005).5                     0
KC (MCAS39-State_WPI-Simple)                    30
KC Category (MCAS39-State_WPI-Simple)            0
KC (MCAS39-State_WPI-Simple).1                  20
KC Category (MCAS39-State_WPI-Simple).1          0
KC (MCAS39-State_WPI-Simple).2                   9
KC Category (MCAS39-State_WPI-Simple).2          0
KC (MCAS39-State_WPI-Simple).3                   2
KC Category (MCAS39-State_WPI-Simple).3          0
KC (MCAS5-State_WPI-Simple)                      5
KC Category (MCAS5-State_WPI-Simple)             0
KC (MCAS5-State_WPI-Simple).1                    1
KC Category (MCAS5-State_WPI-Simple).1           0
KC (Single-KC)                                   1
KC Category (Single-KC)                          0
KC (Unique-step)                               318
KC Category (Unique-step)                        0
School                                          24
Class                                          262
dtype: int64

In [23]:
### Dropping the columns with 0 or 1 exclusive values
df_cleaned = df.loc[:, (unique_values > 1)]

In [24]:
unique_values = df_cleaned.nunique()
unique_values

Row                               1451003
Transaction Id                    1451003
Anon Student Id                      5046
Session Id                         392886
Time                              1027591
Duration (sec)                        641
Student Response Type                   2
Tutor Response Type                     2
Problem Name                         1798
Problem View                           17
Problem Start Time                 347840
Step Name                            5834
Attempt At Step                       120
Is Last Attempt                         2
Outcome                                 3
Selection                            5828
Action                                 12
Input                               28427
Feedback Text                       11816
Feedback Classification                 3
Help Level                             57
Total Num Hints                        48
KC (WPI-Apr-2005)                      87
KC (WPI-Apr-2005).1                    47
KC (WPI-Apr-2005).2                    15
KC (WPI-Apr-2005).3                     2
KC (MCAS39-State_WPI-Simple)           30
KC (MCAS39-State_WPI-Simple).1         20
KC (MCAS39-State_WPI-Simple).2          9
KC (MCAS39-State_WPI-Simple).3          2
KC (MCAS5-State_WPI-Simple)             5
KC (Unique-step)                      318
School                                 24
Class                                 262
dtype: int64

In [25]:
### Dropping the columns with an unique value per row
df_cleaned = df_cleaned.loc[:, (unique_values < df_cleaned.shape[0])]

In [27]:
unique_values = df_cleaned.nunique()
unique_values

Anon Student Id                      5046
Session Id                         392886
Time                              1027591
Duration (sec)                        641
Student Response Type                   2
Tutor Response Type                     2
Problem Name                         1798
Problem View                           17
Problem Start Time                 347840
Step Name                            5834
Attempt At Step                       120
Is Last Attempt                         2
Outcome                                 3
Selection                            5828
Action                                 12
Input                               28427
Feedback Text                       11816
Feedback Classification                 3
Help Level                             57
Total Num Hints                        48
KC (WPI-Apr-2005)                      87
KC (WPI-Apr-2005).1                    47
KC (WPI-Apr-2005).2                    15
KC (WPI-Apr-2005).3                     2
KC (MCAS39-State_WPI-Simple)           30
KC (MCAS39-State_WPI-Simple).1         20
KC (MCAS39-State_WPI-Simple).2          9
KC (MCAS39-State_WPI-Simple).3          2
KC (MCAS5-State_WPI-Simple)             5
KC (Unique-step)                      318
School                                 24
Class                                 262
dtype: int64

In [36]:
### Dropping the KC columns
df_cleaned = df_cleaned.loc[:, [col.find('KC (') < 0 for col in df_cleaned.columns]]

In [41]:
### Generating a sample of the dataset to become simpler to make tests
df_sample = df_cleaned.sample(n=100000, ignore_index=True, random_state=seed)

In [42]:
df_sample.head()

,Anon Student Id,Session Id,Time,Duration (sec),Student Response Type,Tutor Response Type,Problem Name,Problem View,Problem Start Time,Step Name,...,Outcome,Selection,Action,Input,Feedback Text,Feedback Classification,Help Level,Total Num Hints,School,Class
0,Stu_293f725af8a1e0e278c9da1e6d99028e,6811435,2006-11-27 10:15:08,5,ATTEMPT,RESULT,13009,1.0,2006-11-27 10:15:03,"Step0:13009:If x is not 0, then which of the f...",...,INCORRECT,"Step0:13009:If x is not 0, then which of the f...",InterfaceRadioQuestion1,B. (x3)2,This is (x*x*x)2 or (x*x*x)(x*x*x) which is eq...,NaN,NaN,NaN,ForestGrove,0607FreshmanGeo1
1,Stu_8b8f78a53c62a44b7fdfd951d0e092de,5431644,2006-09-29 13:18:56,5,ATTEMPT,RESULT,355,1.0,2006-09-29 13:06:59,"Step2:357:Good. Now, what is the measure of an...",...,INCORRECT,"Step2:357:Good. Now, what is the measure of an...",TextFieldQuestion,40,That is incorrect.,NaN,NaN,NaN,ForestGrove,0607Period7
2,Stu_cb9683bbe0b43f202f04c9ccb7e6d7d9,7386949,2006-12-11 12:35:59,17,ATTEMPT,RESULT,1331,1.0,2006-12-11 12:34:26,"Step4:1335:Good, 5 is the square root of 25 an...",...,INCORRECT,"Step4:1335:Good, 5 is the square root of 25 an...",1,4 and 5,"Sorry, that is incorrect. Please try again.",NaN,NaN,NaN,ForestGrove,0607Period1MrG
3,Stu_536bab04373b19ebc419073bfdd77259,5021263,2006-09-12 10:52:05,6,ATTEMPT,RESULT,2512,1.0,2006-09-12 10:51:04,Step1:2513:Some of the sections are larger tha...,...,CORRECT,Step1:2513:Some of the sections are larger tha...,RadioQuestion,1,NaN,NaN,NaN,NaN,ForestGrove,0607Period2
4,Stu_1c28f38d8e8a28a3b750e02d43053781,6266337,2006-11-02 12:38:38,37,HINT_REQUEST,HINT_MSG,12862,1.0,2006-11-02 12:38:01,Step0:12862:Booker T. Washington Middle School...,...,HINT,Step0:12862:Booker T. Washington Middle School...,InterfaceRadioQuestion1,NaN,The initial cost is $15. And it is increased b...,HINT,1.0,NaN,ForestGrove,Period4